.calculator {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }  
input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 5px;
}

button {
    width: 5vh;
    height: 5vh;
    padding: 10px;
    font-size: 16px;
    background-color: #e6e6e6;
    border-radius: 100%;
    border: none;
}

button:hover {
    background-color: #d9d9d9;
}
  