#productDescription{
    margin-left: 10vh;
    margin-right: 50vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
img{
    width: 100%;
    height: 100%;
}
h1{
    font-size: 30pt;
}
input{
    align-self: center;
    width: 45%;
    height: 5vh;
}